@use "sass:map";
@import "./variables.scss";
@import "./type.scss";

html,
body {
	background: map.get($colours, "neutral");
}

* {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

html,
body,
label,
button {
	color: #fff;
}