@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./variables.scss";

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: false;
    line-height: 1.65;
}

p {
    margin-bottom: 1rem;
    font-size: 1em;
}

a {
    text-decoration: none;
    border-bottom: 2px solid;
    border-color: map.get($colours, "accent");
    color: map.get($colours, "primary");
    transition: all $animate-speed;

    &:hover {
        border-color: transparentize(map.get($colours, "accent"), 1);
        color: map.get($colours, "accent");
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    line-height: 1.15;
    margin: 1rem 0;
}

h1,
.text-size-h1 {
    font-size: 3.05em;
}

h2,
.text-size-h2 {
    font-size: 2.44em;
}

h3,
.text-size-h3 {
    font-size: 1.95em;
}

h4,
.text-size-h4 {
    font-size: 1.56em;
}

h5,
.text-size-h5 {
    font-size: 1.25em;
}

.text-caption {
    font-size: 0.8em;
}

small,
.text-small {
    font-size: 0.64em;
}